* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* variable for colors */
:root {
    --primary-color: var(--primary-color);
    --secondary-color: #2589bd;
    --tertiary-color: rgb(37, 37, 37);
}
body {
    background-color: var(--primary-color);
}

/* header section that contains the hori class */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(37, 37, 37);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.header h1 .seo {
    color: var(--primary-color)
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 7px 0;

}

.header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* formats the nav links */
.header nav ul li {
    display: inline;
    margin-left: 25px;
    border-bottom: 3px solid var(--primary-color);
    border-bottom-width: medium;
    padding: 10px;
}

.header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


.hero {
    display: flex;
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/variety.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
}



.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* benefits box that has logos of the section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* article sections for SEO, online-reputation-management, and social media marketing */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 20px; 
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.article img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
