* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* variable for colors */
:root {
    --primary-color: #ffffff;
    --secondary-color: #252525;
    --tertiary-color: rgb(37, 37, 37);
}
body {
    background-color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* header section that contains the hori class */
.header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-image: url("../images/variety.png");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header h1 .seo {
    color: #d9dcd9;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 7px 0;

}

.header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* formats the nav links */
.header nav ul li {
    margin-left: 25px;
    border-bottom: 3px solid var(--primary-color);
    padding: 10px;
    font-size: 16px;
}

.header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* pseudo classes hover section */
.header nav ul li a:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-shadow: none;
    border-radius: 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}


.hero {
    display: flex;
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/variety.png");
    background-size: cover;
    background-position: 80%;
    justify-content: center;  
}

.hero-cta {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;
    bottom: 8px;
    right: 16px;
    display: flex;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* benefits box that has logos of the section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--secondary-color);
    margin-bottom: 32px;
    color: var(--primary-color);
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* article sections for SEO, online-reputation-management, and social media marketing */
.about-me, .contact-me, .resume {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #252525;
    color: #ffffff;
    padding-bottom: 20px; 
}

/* article hover section */
.about-me:hover, .contact-me:hover, .resume:hover {
    background-color: #ffffff;
    color: #252525;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Work section with larger image */
.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #252525;
    color: #ffffff;
    padding-bottom: 20px;
}

.article img {
    max-height: 500px;
}

/* Work hover section */
.work:hover {
    background-color: #ffffff;
    color: #252525;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer h2 {
    font-size: 20px;
}
